{% extends BASE_TEMPLATE %}
{% load i18n %}
{% load custom_css %}

{% block title %}{% trans "Libre Village 2013" %}{% endblock %}

{% block languages %}
{% for link in LANGUAGE_LINKS %}
<li class="{%if forloop.first %}first{%elif forloop.last %}last{%else %}middle{%endif%}">
<a href="{{link.1}}" class="language-link">{{link.0}}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<form method="post">
    {% if form.non_field_errors %}
    <div class="messages error">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% for field in form %}
    <div class="form-item">
        <label for="{{ field.html_name }}">{%trans field.label %}{% if field.field.required %} <span class="form-required">*</span>{% endif%}</label>
        {% if field.errors %}
        {{ field }}
        {% else %}
        {{ field }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
        <div class="error">
            {{error}}
        </div>
            {% endfor %}
        {% endif %}
        {% if field.help_text %}
        <div class="description">
            {% trans field.help_text %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="buttonHolder">
    <input class="primaryAction" type="submit" value="{% trans "Submit" %}" />
    </div>
    {% csrf_token %}
</form>
{% endblock %}
