{% load i18n %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock%}</title>


        <!-- Script -->
        <link rel="stylesheet" href="{{MEDIA_URL}}style.css" type="text/css">

    </head>
    <body>
        {% block languages %}{%endblock%}

        <div id="container">
            <p><a href="http://2013.rmll.info">Back to the Libre Software Meeting website</a></p>
            <h1>{% trans "JURI WORKSHOP" %}</h1>
            <h2>{% trans "Register" %}</h1>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
